.form-container {
     background-color: #0284c7;
     padding: 3rem;
     width: min(40rem, 80%);
}

form {
     display: flex;
     flex-direction: column;
}
.form-item {
     display: flex;
     justify-content: space-between;
     background-color: #0ea5e9;
     border: 2px solid #0c4a6e;
     border-radius: 5px;
     padding-right: 4rem;
     padding-block: 0.725rem;
}

.form-item {
     margin-bottom: 1rem;
}

.form-item input,
.form-item textarea {
     border-radius: 5px;
     border: none;
}
